.appBar {
    position: static;
}

.rightToolbarBox {
    margin-left: 2.5rem;
}

.leftToolbarBox {
    margin-left: auto;
    margin-right: 2.5rem;
}

.snackBar {
    position: fixed;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}