.lectureCreateTitle {
    height: 5%;
    font-size: 1.8rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.lectureInsideContainer {
    width: 80%;
    height: 85%;
    margin: 0 auto;
    margin-top: 2rem;
    background-color: #f7f7f7;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.lectureInsideTitle {
    font-size: 1.3rem;
    text-align: center;
}

.lectureItemContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.lectureTextField {
    width: 80%;

}


.tagContainer {
    width: 80%;
}

.selectedTagItem {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}

.lectureBtnContainer {
    width: 80%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}


.lectureBtnContainer>button {
    width: 30%;
    font-size: 0.8rem;
    margin-bottom: 2rem;
}