.lectureCreateContainer {
    width: 100%;
    height: 8%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 1rem;
}

.lectureCreateTitle {
    height: 5%;
    font-size: 1.8rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.lectureCreateEmptyAear {
    flex: 9.2;
}

.lectureCreateBtn {
    flex: 0.8;
    height: 2.4rem;
    margin-left: 1rem;
    background-color: #f7f7f7;
    border-radius: 0.3rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.lectureContainer {
    width: 70%;
    height: 82%;
    margin: auto;
}

.lectureItem {
    width: 100%;
    display: flex;
    padding: 1rem;
}

.noneLectureItem {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.lectureInfo {
    flex: 9;
    margin-right: 1rem;
    background-color: #f7f7f7;
    border-radius: 0.3rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 0.8rem;
    height: 2.4rem;
    display: flex;
    align-items: center;
}

.lectureEditBtn {
    flex: 1;
    display: flex;
    justify-content: center
}

.lectureEditBtn>button {
    width: 100%;
    font-size: 0.8rem;
    margin-right: 0.5rem;
}

.paginationContainer {
    height: 5%;
    display: flex;
    justify-content: center;
}