.lectureCreateTitle {
    height: 5%;
    font-size: 1.8rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.lectureInsideContainer {
    width: 80%;
    height: 85%;
    margin: 0 auto;
    margin-top: 2rem;
    background-color: #1e90ff0f;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.lectureItemContainer {
    width: 100%;
    height: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.lectureTextField {
    width: 80%;
    margin-top: 1.5rem;
}

.lectureFormControlContainer {
    width: 80%;
}

.lectureFormControl {
    margin-top: 1.5rem;
}

.lectureBtnContainer {
    display: flex;
    justify-content: space-around;
}


.lectureBtnContainer>button {
    width: 30%;
    font-size: 0.8rem;
    margin-bottom: 2rem;
}