.userSearchContainer {
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: row-reverse;
}

.userSearchInput {
    width: 20rem;
    height: 2.3rem;
}

.searchCategory {
    margin-right: 1rem;
    min-width: 150px;
}

.userSearchContainer>button {
    margin-left: 1rem;
    width: 4rem;
}

.userContainer {
    width: 100%;
    height: 90%;
}

.userItem {
    width: 100%;
    display: flex;
    padding: 1rem;
}

.userInfo {
    flex: 9;
    margin-right: 1rem;
    background-color: #f7f7f7;
    border-radius: 0.3rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 0.8rem;
    height: 2.4rem;
    display: flex;
    align-items: center;
}

.userInfoTitle {
    font-size: 0.9rem;
    text-align: center;
    font-weight: bold;
}

.userEditBtnTitle {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    font-weight: bold;
    background-color: #f7f7f7;
    border-radius: 0.3rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.userEditBtn {
    flex: 1;
    display: flex;
    justify-content: center
}

.userEditBtn>button {
    width: 100%;
    font-size: 0.8rem;
}

.paginationContainer {
    height: 5%;
    display: flex;
    justify-content: center;
}