/* lecture-detail.module.css */
.streamingIntroSection {
    background-color: #1e90ff0f;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.streamingIntroContent {
    width: 80%;
    /* 비율 조절 */
    padding: 1rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.streamingIntroImage {
    width: 50%;
    /* 이미지의 비율 조절 */
    margin-right: 2rem;
}

.streamingIntroImage img {
    width: 100%;
    height: auto;
}

.streamingIntroText {
    width: 50%;
    text-align: center;
}


.streamingCourseSection {
    margin-top: 2rem;
    width: 80%;
    /* 비율 조절 */
    padding: 1rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.streamingCourseTitleText {
    font-size: 1.2rem;
    font-weight: bold;
}

.streamingCourseText {
    margin-top: 1rem;
    font-size: 0.9rem;
}


.streamingVideoSection {
    margin-top: 2rem;
    width: 80%;
    /* 비율 조절 */
    padding: 1rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}