.introSection {
    background-image: url('/main.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    /* 부모 컨테이너에 맞게 가로 폭을 100%로 설정 */
    height: 600px;
    /* 이미지의 세로 크기에 맞추기 위해 height를 auto로 설정 */
}

.introTextDiv {
    padding: 12rem;
    color: rgb(104, 104, 104);
}

.introTextBig {
    margin: 0;
    font-size: 2rem;
}

.introText {
    margin: 0;
}

.sectionTitle {
    margin-top: 0;
    background-color: #1976d2;
    color: #fff;
    text-align: center;
}

.cardSection {
    margin: 2rem auto;
    max-width: 1160px;
}

.cardList {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}